@import "tailwindcss";
@plugin "@tailwindcss/forms";

/* ---- Base terminal defaults ---- */
@layer base {
  html, body {
    background-color: #080808;
    color: #45CC2D;
    font-family: VT323, "Courier Prime", monospace;
    font-variant-ligatures: none;
  }

  table {
    width: 100%;
    border-collapse: collapse;
  }

  th, td {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid #404040;
    text-align: left;
    font-weight: normal;
  }

}