@font-face {
  font-family: 'DSEG7Classic';
  src: url('https://nuocergcapwdrngodpip.supabase.co/storage/v1/object/public/media/DSEG7Classic-Bold.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}