@font-face {
  font-family: 'LCD14';
  src: url('https://nuocergcapwdrngodpip.supabase.co/storage/v1/object/public/media/LCD14.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}